# Please don't edit these cells, you can find your cell below.

In [12]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# !pip install openpyxl

In [14]:
path = "/Users/saraali/Documents/misk-DSI/gov_banking_eda/data/" 
df_2018 = pd.read_csv(path+'social-development-bank-loans-for-2018.csv')
df_2019 = pd.read_csv(path+'social-development-bank-loans-for-2019.csv')
df_2020 = pd.read_excel(path+'social-development-bank-loans-for-2020..xlsx')
df_2021 = pd.read_csv(path+'social_devlopment_bank_loans_for_2021.csv')
df_2022 = pd.read_csv(path+'social_devlopment_bank_loans_for_2022.csv')

# Adding a year column to not lose track of which year this data belongs to. 
df_2018['السنة'] = 2018
df_2019['السنة'] = 2019
df_2020['السنة'] = 2020
df_2021['السنة'] = 2021
df_2022['السنة'] = 2022

In [15]:
df_2018.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018

In [16]:
df_2019.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,1.0,تبوك,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2019/02,MALE,>= 30,متزوج,لا,>= 05,لا,< 5000,2019
1,2.0,حائل,مشروع,حل,NaN,160000.0,>= 1000,2019/01,MALE,< 30,أعزب,لا,< 02,لا,< 5000,2019
2,3.0,تبوك,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2019/02,MALE,< 30,متزوج,لا,>= 02,لا,>= 7500,2019
3,4.0,المدينة,إجتماعي,زواج,موظف شركة حكومية,60000.0,< 1000,2019/03,MALE,< 30,متزوج,لا,>= 10,لا,>= 5000,2019
4,5.0,المدينة,إجتماعي,أسرة,موظف قطاع خاص,60000.0,>= 1000,2019/02,FEMALE,>= 30,مطلق,لا,>= 02,لا,>= 10000,2019

In [17]:
df_2020.head()

,ID,فرع البنك,نوع التمويل,تصنيف التمويل,قطاع العميل,قيمة التمويل,قيمة القسط,تاريخ الصرف,جنس العميل,عمرالعميل,الحالة الاجتماعية,احتياجات خاصة,عدد افراد الاسرة,قرض ادخاري,قيمة الدخل,السنة
0,6,الرس,تمويل الافراد,أسرة,غير محدد,60000,>= 1000,2020/03,أنثى,>= 30,مطلق,لا,>= 02,نعم,< 5000,2020
1,7,الرياض,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020
2,47,الرياض,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/01,ذكر,< 30,متزوج,لا,>= 02,لا,< 5000,2020
3,48,مكة,تمويل الافراد,زواج,غير محدد,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,نعم,< 5000,2020
4,49,الطائف,تمويل الافراد,زواج,موظف حكومي,60000,>= 1000,2020/03,ذكر,< 30,متزوج,لا,>= 02,لا,>= 7500,2020

In [18]:
df_2021.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمرالعميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد افراد الاسرة,قيمة الدخل,السنة
0,1,حائل,مشروع,قرض مشروع ناشيء,غير معرف,30000.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,غير معروف,<5000,2021
1,2,الطائف,نقل,قرض سيارة أجرة,غير معرف,54694.0,<1000,2021/1,ذكر,>= 30,متزوج,سليم,>= 02,<5000,2021
2,8,الرياض,مشروع,قرض التميز,قطاع خاص,1585000.0,>=1000,2021/1,أنثى,>= 40,أعزب,سليم,< 02,>=10000,2021
3,12,مكه المكرمه,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,>= 40,متزوج,سليم,< 02,<5000,2021
4,13,جازان,نقل,قرض أجرة خاصة,قطاع حكومي,97230.0,>=1000,2021/1,ذكر,< 30,أعزب,سليم,< 02,<5000,2021

In [19]:
df_2022.head()

,ID,المدينة,التصنيف,االمنتج,قطاع_العميل,مبلغ_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمر_العميل,ألحاله_الإجتماعية,إحتياجات_خاصة,عدد_أفراد_الأسره,زود_الإدخاري,القيمة,السنة
0,1,بنك التنمية الإجتماعية فرع المجمعة,مشروع,قرض التميز,قطاع خاص,2877000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
1,2,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض مشروع حل,قطاع خاص,281000.0,>= 1000,2022-03,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
2,3,بنك التنمية الإجتماعية فرع جدة,مشروع,قرض التميز,قطاع خاص,2218980.0,>= 1000,2022-01,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022
3,4,بنك التنمية الإجتماعية بالمدينة المنورة,مشروع,قرض التقنيات الناشئة,قطاع خاص,260000.0,>= 1000,2022-01,انثى,>= 30,متزوج,سليم,< 02,0,0,2022
4,5,بنك التنمية الإجتماعية فرع الرياض,مشروع,قرض التقنيات الناشئة,قطاع خاص,220000.0,>= 1000,2022-03,ذكر,>= 30,متزوج,سليم,< 02,0,0,2022

In [20]:
df_2022['القيمة'].value_counts()

0       38414
6000    12692
Name: القيمة, dtype: int64

In [21]:
df_2021['قرض ادخاري'] = "غير معروف" # Adding a Savings Loan column to 2021's dataframe and assigning its value to 'Unknown' because we don't have data for the corresponding year. 
df_2022['القيمة'] = "غير معروف" # Assigning this column to 'Unknown' since we don't have relevant information for the income of clients in 2022.

In [22]:
df_2021 = df_2021[['ID', 'المدينة', 'التصنيف', 'االمنتج', 'قطاع_العميل', 'مبلغ_التمويل','قيمة_القسط', 'تاريخ_الصرف', 'جنس_العميل', 'عمرالعميل',
                    'ألحاله_الإجتماعية','إحتياجات_خاصة','عدد افراد الاسرة','قرض ادخاري','قيمة الدخل','السنة']] 
        # Rearranging columns of 2021's dataframe to be consistent with the rest of the years.

In [23]:
dfs = [df_2018, df_2019, df_2020, df_2021 ,df_2022]
names = 'ID	المدينة	نوع_التمويل	المنتج	قطاع_العميل	قيمة_التمويل	قيمة_القسط	تاريخ_الصرف	جنس_العميل	عمر_العميل	الحالة_الاجتماعية	احتياجات_خاصة	عدد_افراد_الاسرة	قرض_ادخاري	قيمة_الدخل	السنة'.split()

for i in dfs:
    i.columns = names
# Renaming columns of all dataframes to make sure concatenation is successful.

In [24]:
data = pd.concat([df_2018, df_2019, df_2020, df_2021, df_2022], ignore_index = True)
data.head(20)
# Concatenating all dataframes to obtain a single dataframe

,ID,المدينة,نوع_التمويل,المنتج,قطاع_العميل,قيمة_التمويل,قيمة_القسط,تاريخ_الصرف,جنس_العميل,عمر_العميل,الحالة_الاجتماعية,احتياجات_خاصة,عدد_افراد_الاسرة,قرض_ادخاري,قيمة_الدخل,السنة
0,1.0,الإحساء,إجتماعي,أسرة,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 02,لا,>= 7500,2018
1,2.0,الإحساء,مشروع,ناشيء,متقاعد حكومي,122000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,< 02,لا,< 5000,2018
2,3.0,الإحساء,إجتماعي,أسرة,متقاعد حكومي,60000.0,>= 1000,2018/01,MALE,>= 40,متزوج,لا,>= 05,لا,< 5000,2018
3,4.0,الإحساء,إجتماعي,زواج,موظف حكومي,48000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 5000,2018
4,5.0,الإحساء,مشروع,عربات البيع,NaN,150000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,< 02,لا,< 5000,2018
5,6.0,الإحساء,إجتماعي,أسرة,موظف حكومي,36000.0,< 1000,2018/01,MALE,>= 30,متزوج,لا,>= 05,لا,>= 7500,2018
6,7.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 7500,2018
7,8.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
8,9.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018
9,10.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
10,11.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
11,12.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018
12,13.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
13,14.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,>= 30,متزوج,لا,>= 02,لا,>= 7500,2018
14,15.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 5000,2018
15,16.0,الإحساء,إجتماعي,زواج,موظف حكومي,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 7500,2018
16,17.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
17,18.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,54000.0,< 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,NaN,2018
18,19.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,>= 10000,2018
19,20.0,الإحساء,إجتماعي,زواج,موظف قطاع خاص,60000.0,>= 1000,2018/01,MALE,< 30,متزوج,لا,>= 02,لا,< 5000,2018

In [ ]:
# data.drop("ID",axis =1,inplace = True) # Dropping the ID column since it offers no relevant information. 
# data.to_csv(path+'gov_banking_data.csv', index=False) # Saving the concatenated dataframe for further and more specific processing. 
# Don't uncomment these!

# Abdulrahman: 
### Gender
Unify the values for gender across all years. e.g, FEMALE and انثى becomes أنثى

In [ ]:
# You can start coding here

# Abdulmalik: 
### City
Unify the values for city names. Extract city names if they are embedded like in 2022.

In [ ]:
# You can start coding here

# Sara
### قطاع العميل
Unify the names of fields. Please don't randomly combine things, take some time to do some research. 

#### Change datatypes after all columns are cleaned

In [ ]:
# You can start coding here

# Amal: 
### ذوي الاحتياجات الخاصة
Unify the values. It should be binary. 0 for healthy and 1 for handicapped. 
### قرض ادخاري
Unify the values. It should be binary. 0 for no and 1 for yes. 
### قيمة القسط
Unify the values. It should be binary. 0 for < 1000 and 1 >= 1000.

In [ ]:
# You can start coding here

# Lina
### تاريخ_الصرف
Unify the format of the date to YYYY/MM >> 1-2020 becomes 2020/01 etc. 
### عمر_العميل
Make it into categorical ordinal values e.g., >= 60 becomes Senior, >= 40 becomes middle-aged,  etc. 
### المنتج
Unify the names of loans. Please don't randomly combine things, take some time to do some research.

In [ ]:
# You can start coding here

# Saad
### نوع التمويل
Unify the names of the loan types. Please don't randomly combine things, take some time to do some research. 
### قيمة الدخل
Make it into categorical ordinal values by specifying intervals for income ranges e.g., < 5000 becomes low income, >= 10000 becomes Very High income, >= 7500 becomes High income, etc.

In [ ]:
# You can start coding here